In [1]:
import json

In [3]:
with open("./jasons.json") as f:
    jason_dict = json.load(f)

jason_dict

{'Jason Statham': {'Birthplace': 'Shirebrook, Derbyshire, England',
  'Jason Rank': 1,
  'Movies': ['Lock, Stock and Two Smoking Barrels',
   'Snatch',
   'The Transporter'],
  'Net worth': 9000000.0},
 'Jason Vorhees': {'Birthplace': 'Camp Crystal Lake, New Jersey',
  'Jason Rank': 2,
  'Movies': ['Friday the 13th', 'Jason X'],
  'Net worth': None}}

In [4]:
type(jason_dict)

dict

In [6]:
type(jason_dict["Jason Statham"]["Net worth"])

float

In [8]:
import requests

name = 'Jason'
api_url = f'https://api.api-ninjas.com/v1/celebrity?name={name}'
response = requests.get(api_url, headers={'X-Api-Key': 'SgYYIt7n7tT1DqWunxTmWw==Xrl0bSLdHrgom4tB'})

print(response.text)

[{"name": "jason chang", "net_worth": 2900000000, "gender": "male", "nationality": "gb", "occupation": ["actor"], "birthday": "1979-07-16", "age": 44, "is_alive": true}, {"name": "jason lee", "net_worth": 20000000, "gender": "male", "nationality": "us", "occupation": ["actor", "film_producer", "voice_actor", "screenwriter", "television_producer", "skateboarder", "comedian", "businessperson", "entrepreneur"], "height": 1.87, "birthday": "1970-04-25", "age": 54, "is_alive": true}, {"name": "jason cerbone", "net_worth": 600000, "gender": "male", "nationality": "us", "occupation": ["actor", "model"], "height": 1.75, "birthday": "1977-11-02", "age": 46, "is_alive": true}, {"name": "jason wahler", "net_worth": 300000, "gender": "male", "height": 1.85, "birthday": "1987-01-11", "age": 37, "is_alive": true}, {"name": "jason nevins", "net_worth": 8000000}, {"name": "jason arnott", "net_worth": 40000000, "gender": "male", "nationality": "ca", "occupation": ["ice_hockey_player"], "height": 1.96, "birthday": "1974-10-11", "age": 49, "is_alive": true}, {"name": "jason cameron", "net_worth": 2000000, "gender": "male", "occupation": ["presenter", "model", "carpentry", "actor", "personal_trainer"], "birthday": "1969-04-19", "age": 55, "is_alive": true}, {"name": "jason alexander", "net_worth": 50000000, "gender": "male", "nationality": "us", "occupation": ["actor", "television_director", "singer", "comedian", "television_producer", "voice_actor", "film_producer", "screenwriter"], "height": 1.64, "birthday": "1959-09-23", "age": 64, "is_alive": true}, {"name": "jason colodne", "net_worth": 1000000, "gender": "male", "occupation": ["film_producer"]}, {"name": "jason segel", "net_worth": 50000000, "gender": "male", "nationality": "us", "occupation": ["actor", "musician", "screenwriter", "composer", "film_producer", "songwriter", "singer", "voice_actor"], "height": 1.93, "birthday": "1980-01-18", "age": 44, "is_alive": true}, {"name": "jason hanson", "net_worth": 15000000, "gender": "male", "nationality": "us", "occupation": ["american_football_player"], "height": 1.83, "birthday": "1970-06-17", "age": 53, "is_alive": true}, {"name": "jason wingreen", "net_worth": 10000000, "gender": "male", "nationality": "us", "occupation": ["actor"], "birthday": "1920-10-09", "age": 103, "is_alive": true}, {"name": "jason derulo", "net_worth": 16000000, "gender": "male", "nationality": "us", "occupation": ["singer-songwriter", "actor", "songwriter", "singer", "dancer", "choreographer", "rapper"], "height": 1.84, "birthday": "1989-09-21", "age": 34, "is_alive": true}, {"name": "jason campbell", "net_worth": 3000000, "gender": "male", "nationality": "us", "occupation": ["american_football_player", "athlete"], "height": 1.96, "birthday": "1981-12-31", "age": 42, "is_alive": true}, {"name": "jason dufner", "net_worth": 14000000, "gender": "male", "nationality": "us", "occupation": ["golfer"], "height": 1.78, "birthday": "1977-03-24", "age": 47, "is_alive": true}, {"name": "david jason", "net_worth": 10000000, "gender": "male", "nationality": "gb", "occupation": ["actor", "voice_actor", "television_producer"], "height": 1.68, "birthday": "1940-02-02", "age": 84, "is_alive": true}, {"name": "jason mantzoukas", "net_worth": 2000000, "gender": "male", "nationality": "us", "occupation": ["actor", "television_producer", "screenwriter", "comedian"], "birthday": "1972-12-18", "age": 51, "is_alive": true}, {"name": "jason calacanis", "net_worth": 100000000, "gender": "male", "nationality": "us", "occupation": ["entrepreneur", "businessperson", "television_producer"], "birthday": "1970-11-28", "age": 53, "is_alive": true}, {"name": "jason scheff", "net_worth": 17000000, "gender": "male", "nationality": "us", "occupation": ["songwriter", "singer", "musician", "bassist"], "birthday": "1962-04-16", "age": 62, "is_alive": true}, {"name": "jason trawick", "net_worth": 6000000, "gender": "male", "occupation": ["talent_agent"]}, {"name": "jason kendall", "net_worth": 40000000, "gender": "male", "occupation": ["baseball_player"], "birthday": "1974-06-26", "age": 49, "is_alive": true}, {"name": "jason hook", "net_worth": 8000000, "gender": "male", "nationality": "ca", "occupation": ["guitarist", "songwriter", "musician", "record_producer", "session_musician"], "birthday": "1970-10-03", "age": 53, "is_alive": true}, {"name": "jason weaver", "net_worth": 4000000, "gender": "male", "nationality": "us", "occupation": ["actor", "singer", "voice_actor"], "height": 1.8, "birthday": "1979-07-18", "age": 44, "is_alive": true}, {"name": "jason priestley", "net_worth": 16000000, "gender": "male", "nationality": "ca", "occupation": ["actor", "film_producer", "race_car_driver", "television_producer", "television_director", "film_director", "voice_actor"], "height": 1.73, "birthday": "1969-08-28", "age": 54, "is_alive": true}, {"name": "jason heyward", "net_worth": 50000000, "gender": "male", "nationality": "us", "occupation": ["baseball_player"], "height": 1.96, "birthday": "1989-08-09", "age": 34, "is_alive": true}, {"name": "jason beghe", "net_worth": 9000000, "gender": "male", "nationality": "us", "occupation": ["actor", "model"], "birthday": "1960-03-12", "age": 64, "is_alive": true}, {"name": "jason taylor", "net_worth": 25000000, "gender": "male", "nationality": "us", "occupation": ["american_football_player", "athlete"], "height": 1.98, "birthday": "1974-09-01", "age": 49, "is_alive": true}, {"name": "jason varitek", "net_worth": 30000000, "gender": "male", "nationality": "us", "occupation": ["baseball_player"], "height": 1.88, "birthday": "1972-04-11", "age": 52, "is_alive": true}, {"name": "jason dolley", "net_worth": 500000, "gender": "male", "nationality": "us", "occupation": ["actor", "musician"], "height": 1.78, "birthday": "1991-07-05", "age": 32, "is_alive": true}, {"name": "jason chaffetz", "net_worth": 600000}]

In [9]:
type(response.text)

str

In [10]:
api_response = json.loads(response.text)

api_response

[{'name': 'jason chang',
  'net_worth': 2900000000,
  'gender': 'male',
  'nationality': 'gb',
  'occupation': ['actor'],
  'birthday': '1979-07-16',
  'age': 44,
  'is_alive': True},
 {'name': 'jason lee',
  'net_worth': 20000000,
  'gender': 'male',
  'nationality': 'us',
  'occupation': ['actor',
   'film_producer',
   'voice_actor',
   'screenwriter',
   'television_producer',
   'skateboarder',
   'comedian',
   'businessperson',
   'entrepreneur'],
  'height': 1.87,
  'birthday': '1970-04-25',
  'age': 54,
  'is_alive': True},
 {'name': 'jason cerbone',
  'net_worth': 600000,
  'gender': 'male',
  'nationality': 'us',
  'occupation': ['actor', 'model'],
  'height': 1.75,
  'birthday': '1977-11-02',
  'age': 46,
  'is_alive': True},
 {'name': 'jason wahler',
  'net_worth': 300000,
  'gender': 'male',
  'height': 1.85,
  'birthday': '1987-01-11',
  'age': 37,
  'is_alive': True},
 {'name': 'jason nevins', 'net_worth': 8000000},
 {'name': 'jason arnott',
  'net_worth': 40000000,
  'gender': 'male',
  'nationality': 'ca',
  'occupation': ['ice_hockey_player'],
  'height': 1.96,
  'birthday': '1974-10-11',
  'age': 49,
  'is_alive': True},
 {'name': 'jason cameron',
  'net_worth': 2000000,
  'gender': 'male',
  'occupation': ['presenter',
   'model',
   'carpentry',
   'actor',
   'personal_trainer'],
  'birthday': '1969-04-19',
  'age': 55,
  'is_alive': True},
 {'name': 'jason alexander',
  'net_worth': 50000000,
  'gender': 'male',
  'nationality': 'us',
  'occupation': ['actor',
   'television_director',
   'singer',
   'comedian',
   'television_producer',
   'voice_actor',
   'film_producer',
   'screenwriter'],
  'height': 1.64,
  'birthday': '1959-09-23',
  'age': 64,
  'is_alive': True},
 {'name': 'jason colodne',
  'net_worth': 1000000,
  'gender': 'male',
  'occupation': ['film_producer']},
 {'name': 'jason segel',
  'net_worth': 50000000,
  'gender': 'male',
  'nationality': 'us',
  'occupation': ['actor',
   'musician',
   'screenwriter',
   'composer',
   'film_producer',
   'songwriter',
   'singer',
   'voice_actor'],
  'height': 1.93,
  'birthday': '1980-01-18',
  'age': 44,
  'is_alive': True},
 {'name': 'jason hanson',
  'net_worth': 15000000,
  'gender': 'male',
  'nationality': 'us',
  'occupation': ['american_football_player'],
  'height': 1.83,
  'birthday': '1970-06-17',
  'age': 53,
  'is_alive': True},
 {'name': 'jason wingreen',
  'net_worth': 10000000,
  'gender': 'male',
  'nationality': 'us',
  'occupation': ['actor'],
  'birthday': '1920-10-09',
  'age': 103,
  'is_alive': True},
 {'name': 'jason derulo',
  'net_worth': 16000000,
  'gender': 'male',
  'nationality': 'us',
  'occupation': ['singer-songwriter',
   'actor',
   'songwriter',
   'singer',
   'dancer',
   'choreographer',
   'rapper'],
  'height': 1.84,
  'birthday': '1989-09-21',
  'age': 34,
  'is_alive': True},
 {'name': 'jason campbell',
  'net_worth': 3000000,
  'gender': 'male',
  'nationality': 'us',
  'occupation': ['american_football_player', 'athlete'],
  'height': 1.96,
  'birthday': '1981-12-31',
  'age': 42,
  'is_alive': True},
 {'name': 'jason dufner',
  'net_worth': 14000000,
  'gender': 'male',
  'nationality': 'us',
  'occupation': ['golfer'],
  'height': 1.78,
  'birthday': '1977-03-24',
  'age': 47,
  'is_alive': True},
 {'name': 'david jason',
  'net_worth': 10000000,
  'gender': 'male',
  'nationality': 'gb',
  'occupation': ['actor', 'voice_actor', 'television_producer'],
  'height': 1.68,
  'birthday': '1940-02-02',
  'age': 84,
  'is_alive': True},
 {'name': 'jason mantzoukas',
  'net_worth': 2000000,
  'gender': 'male',
  'nationality': 'us',
  'occupation': ['actor', 'television_producer', 'screenwriter', 'comedian'],
  'birthday': '1972-12-18',
  'age': 51,
  'is_alive': True},
 {'name': 'jason calacanis',
  'net_worth': 100000000,
  'gender': 'male',
  'nationality': 'us',
  'occupation': ['entrepreneur', 'businessperson', 'television_producer'],
  'birthday': '1970-11-28',
  'age': 53,
  'is_alive': True},
 {'name': 'jason scheff',
  'net_worth': 17000000,
  'gender': 'male',
  'nationality': 'us',
  'occupation': ['songwriter', 'singer', 'musician', 'bassist'],
  'birthday': '1962-04-16',
  'age': 62,
  'is_alive': True},
 {'name': 'jason trawick',
  'net_worth': 6000000,
  'gender': 'male',
  'occupation': ['talent_agent']},
 {'name': 'jason kendall',
  'net_worth': 40000000,
  'gender': 'male',
  'occupation': ['baseball_player'],
  'birthday': '1974-06-26',
  'age': 49,
  'is_alive': True},
 {'name': 'jason hook',
  'net_worth': 8000000,
  'gender': 'male',
  'nationality': 'ca',
  'occupation': ['guitarist',
   'songwriter',
   'musician',
   'record_producer',
   'session_musician'],
  'birthday': '1970-10-03',
  'age': 53,
  'is_alive': True},
 {'name': 'jason weaver',
  'net_worth': 4000000,
  'gender': 'male',
  'nationality': 'us',
  'occupation': ['actor', 'singer', 'voice_actor'],
  'height': 1.8,
  'birthday': '1979-07-18',
  'age': 44,
  'is_alive': True},
 {'name': 'jason priestley',
  'net_worth': 16000000,
  'gender': 'male',
  'nationality': 'ca',
  'occupation': ['actor',
   'film_producer',
   'race_car_driver',
   'television_producer',
   'television_director',
   'film_director',
   'voice_actor'],
  'height': 1.73,
  'birthday': '1969-08-28',
  'age': 54,
  'is_alive': True},
 {'name': 'jason heyward',
  'net_worth': 50000000,
  'gender': 'male',
  'nationality': 'us',
  'occupation': ['baseball_player'],
  'height': 1.96,
  'birthday': '1989-08-09',
  'age': 34,
  'is_alive': True},
 {'name': 'jason beghe',
  'net_worth': 9000000,
  'gender': 'male',
  'nationality': 'us',
  'occupation': ['actor', 'model'],
  'birthday': '1960-03-12',
  'age': 64,
  'is_alive': True},
 {'name': 'jason taylor',
  'net_worth': 25000000,
  'gender': 'male',
  'nationality': 'us',
  'occupation': ['american_football_player', 'athlete'],
  'height': 1.98,
  'birthday': '1974-09-01',
  'age': 49,
  'is_alive': True},
 {'name': 'jason varitek',
  'net_worth': 30000000,
  'gender': 'male',
  'nationality': 'us',
  'occupation': ['baseball_player'],
  'height': 1.88,
  'birthday': '1972-04-11',
  'age': 52,
  'is_alive': True},
 {'name': 'jason dolley',
  'net_worth': 500000,
  'gender': 'male',
  'nationality': 'us',
  'occupation': ['actor', 'musician'],
  'height': 1.78,
  'birthday': '1991-07-05',
  'age': 32,
  'is_alive': True},
 {'name': 'jason chaffetz', 'net_worth': 600000}]

In [11]:
import requests

with open("config.json") as f:
    config = json.load(f)

name = 'Jason'
api_url = f'{config["base_url"]}/celebrity?name={name}'
response = requests.get(api_url, headers={'X-Api-Key': config["api_key"]})

print(response.text)

[{"name": "jason chang", "net_worth": 2900000000, "gender": "male", "nationality": "gb", "occupation": ["actor"], "birthday": "1979-07-16", "age": 44, "is_alive": true}, {"name": "jason lee", "net_worth": 20000000, "gender": "male", "nationality": "us", "occupation": ["actor", "film_producer", "voice_actor", "screenwriter", "television_producer", "skateboarder", "comedian", "businessperson", "entrepreneur"], "height": 1.87, "birthday": "1970-04-25", "age": 54, "is_alive": true}, {"name": "jason cerbone", "net_worth": 600000, "gender": "male", "nationality": "us", "occupation": ["actor", "model"], "height": 1.75, "birthday": "1977-11-02", "age": 46, "is_alive": true}, {"name": "jason wahler", "net_worth": 300000, "gender": "male", "height": 1.85, "birthday": "1987-01-11", "age": 37, "is_alive": true}, {"name": "jason nevins", "net_worth": 8000000}, {"name": "jason arnott", "net_worth": 40000000, "gender": "male", "nationality": "ca", "occupation": ["ice_hockey_player"], "height": 1.96, "birthday": "1974-10-11", "age": 49, "is_alive": true}, {"name": "jason cameron", "net_worth": 2000000, "gender": "male", "occupation": ["presenter", "model", "carpentry", "actor", "personal_trainer"], "birthday": "1969-04-19", "age": 55, "is_alive": true}, {"name": "jason alexander", "net_worth": 50000000, "gender": "male", "nationality": "us", "occupation": ["actor", "television_director", "singer", "comedian", "television_producer", "voice_actor", "film_producer", "screenwriter"], "height": 1.64, "birthday": "1959-09-23", "age": 64, "is_alive": true}, {"name": "jason colodne", "net_worth": 1000000, "gender": "male", "occupation": ["film_producer"]}, {"name": "jason segel", "net_worth": 50000000, "gender": "male", "nationality": "us", "occupation": ["actor", "musician", "screenwriter", "composer", "film_producer", "songwriter", "singer", "voice_actor"], "height": 1.93, "birthday": "1980-01-18", "age": 44, "is_alive": true}, {"name": "jason hanson", "net_worth": 15000000, "gender": "male", "nationality": "us", "occupation": ["american_football_player"], "height": 1.83, "birthday": "1970-06-17", "age": 53, "is_alive": true}, {"name": "jason wingreen", "net_worth": 10000000, "gender": "male", "nationality": "us", "occupation": ["actor"], "birthday": "1920-10-09", "age": 103, "is_alive": true}, {"name": "jason derulo", "net_worth": 16000000, "gender": "male", "nationality": "us", "occupation": ["singer-songwriter", "actor", "songwriter", "singer", "dancer", "choreographer", "rapper"], "height": 1.84, "birthday": "1989-09-21", "age": 34, "is_alive": true}, {"name": "jason campbell", "net_worth": 3000000, "gender": "male", "nationality": "us", "occupation": ["american_football_player", "athlete"], "height": 1.96, "birthday": "1981-12-31", "age": 42, "is_alive": true}, {"name": "jason dufner", "net_worth": 14000000, "gender": "male", "nationality": "us", "occupation": ["golfer"], "height": 1.78, "birthday": "1977-03-24", "age": 47, "is_alive": true}, {"name": "david jason", "net_worth": 10000000, "gender": "male", "nationality": "gb", "occupation": ["actor", "voice_actor", "television_producer"], "height": 1.68, "birthday": "1940-02-02", "age": 84, "is_alive": true}, {"name": "jason mantzoukas", "net_worth": 2000000, "gender": "male", "nationality": "us", "occupation": ["actor", "television_producer", "screenwriter", "comedian"], "birthday": "1972-12-18", "age": 51, "is_alive": true}, {"name": "jason calacanis", "net_worth": 100000000, "gender": "male", "nationality": "us", "occupation": ["entrepreneur", "businessperson", "television_producer"], "birthday": "1970-11-28", "age": 53, "is_alive": true}, {"name": "jason scheff", "net_worth": 17000000, "gender": "male", "nationality": "us", "occupation": ["songwriter", "singer", "musician", "bassist"], "birthday": "1962-04-16", "age": 62, "is_alive": true}, {"name": "jason trawick", "net_worth": 6000000, "gender": "male", "occupation": ["talent_agent"]}, {"name": "jason kendall", "net_worth": 40000000, "gender": "male", "occupation": ["baseball_player"], "birthday": "1974-06-26", "age": 49, "is_alive": true}, {"name": "jason hook", "net_worth": 8000000, "gender": "male", "nationality": "ca", "occupation": ["guitarist", "songwriter", "musician", "record_producer", "session_musician"], "birthday": "1970-10-03", "age": 53, "is_alive": true}, {"name": "jason weaver", "net_worth": 4000000, "gender": "male", "nationality": "us", "occupation": ["actor", "singer", "voice_actor"], "height": 1.8, "birthday": "1979-07-18", "age": 44, "is_alive": true}, {"name": "jason priestley", "net_worth": 16000000, "gender": "male", "nationality": "ca", "occupation": ["actor", "film_producer", "race_car_driver", "television_producer", "television_director", "film_director", "voice_actor"], "height": 1.73, "birthday": "1969-08-28", "age": 54, "is_alive": true}, {"name": "jason heyward", "net_worth": 50000000, "gender": "male", "nationality": "us", "occupation": ["baseball_player"], "height": 1.96, "birthday": "1989-08-09", "age": 34, "is_alive": true}, {"name": "jason beghe", "net_worth": 9000000, "gender": "male", "nationality": "us", "occupation": ["actor", "model"], "birthday": "1960-03-12", "age": 64, "is_alive": true}, {"name": "jason taylor", "net_worth": 25000000, "gender": "male", "nationality": "us", "occupation": ["american_football_player", "athlete"], "height": 1.98, "birthday": "1974-09-01", "age": 49, "is_alive": true}, {"name": "jason varitek", "net_worth": 30000000, "gender": "male", "nationality": "us", "occupation": ["baseball_player"], "height": 1.88, "birthday": "1972-04-11", "age": 52, "is_alive": true}, {"name": "jason dolley", "net_worth": 500000, "gender": "male", "nationality": "us", "occupation": ["actor", "musician"], "height": 1.78, "birthday": "1991-07-05", "age": 32, "is_alive": true}, {"name": "jason chaffetz", "net_worth": 600000}]

In [15]:
with open("./new_jasons.json", "w") as f:
    json.dump(api_response, f, indent=4)

In [16]:
import pandas as pd

df = pd.read_json("./new_jasons.json")

df

,name,net_worth,gender,nationality,occupation,birthday,age,is_alive,height
0,jason chang,2900000000,male,gb,[actor],1979-07-16,44.0,1.0,NaN
1,jason lee,20000000,male,us,"[actor, film_producer, voice_actor, screenwrit...",1970-04-25,54.0,1.0,1.87
2,jason cerbone,600000,male,us,"[actor, model]",1977-11-02,46.0,1.0,1.75
3,jason wahler,300000,male,NaN,NaN,1987-01-11,37.0,1.0,1.85
4,jason nevins,8000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,jason arnott,40000000,male,ca,[ice_hockey_player],1974-10-11,49.0,1.0,1.96
6,jason cameron,2000000,male,NaN,"[presenter, model, carpentry, actor, personal_...",1969-04-19,55.0,1.0,NaN
7,jason alexander,50000000,male,us,"[actor, television_director, singer, comedian,...",1959-09-23,64.0,1.0,1.64
8,jason colodne,1000000,male,NaN,[film_producer],NaN,NaN,NaN,NaN
9,jason segel,50000000,male,us,"[actor, musician, screenwriter, composer, film...",1980-01-18,44.0,1.0,1.93
10,jason hanson,15000000,male,us,[american_football_player],1970-06-17,53.0,1.0,1.83
11,jason wingreen,10000000,male,us,[actor],1920-10-09,103.0,1.0,NaN
12,jason derulo,16000000,male,us,"[singer-songwriter, actor, songwriter, singer,...",1989-09-21,34.0,1.0,1.84
13,jason campbell,3000000,male,us,"[american_football_player, athlete]",1981-12-31,42.0,1.0,1.96
14,jason dufner,14000000,male,us,[golfer],1977-03-24,47.0,1.0,1.78
15,david jason,10000000,male,gb,"[actor, voice_actor, television_producer]",1940-02-02,84.0,1.0,1.68
16,jason mantzoukas,2000000,male,us,"[actor, television_producer, screenwriter, com...",1972-12-18,51.0,1.0,NaN
17,jason calacanis,100000000,male,us,"[entrepreneur, businessperson, television_prod...",1970-11-28,53.0,1.0,NaN
18,jason scheff,17000000,male,us,"[songwriter, singer, musician, bassist]",1962-04-16,62.0,1.0,NaN
19,jason trawick,6000000,male,NaN,[talent_agent],NaN,NaN,NaN,NaN
20,jason kendall,40000000,male,NaN,[baseball_player],1974-06-26,49.0,1.0,NaN
21,jason hook,8000000,male,ca,"[guitarist, songwriter, musician, record_produ...",1970-10-03,53.0,1.0,NaN
22,jason weaver,4000000,male,us,"[actor, singer, voice_actor]",1979-07-18,44.0,1.0,1.80
23,jason priestley,16000000,male,ca,"[actor, film_producer, race_car_driver, televi...",1969-08-28,54.0,1.0,1.73
24,jason heyward,50000000,male,us,[baseball_player],1989-08-09,34.0,1.0,1.96
25,jason beghe,9000000,male,us,"[actor, model]",1960-03-12,64.0,1.0,NaN
26,jason taylor,25000000,male,us,"[american_football_player, athlete]",1974-09-01,49.0,1.0,1.98
27,jason varitek,30000000,male,us,[baseball_player],1972-04-11,52.0,1.0,1.88
28,jason dolley,500000,male,us,"[actor, musician]",1991-07-05,32.0,1.0,1.78
29,jason chaffetz,600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN